.container {
	border: solid 1px gainsboro;
}

#student_list_table_head {
	background-color: #fff !important;
}

.align_center {
	vertical-align: sub;
	display: inline-block;
}

.align-middle {
	margin-top: auto;
	margin-bottom: auto;
}

#student-list-table-content {
	display: grid;
	width: 100%;
}

.d-center {
	margin-right: auto;
	margin-left: auto;
}

.wpsp-customeMsg {
	display: inline-block;
	vertical-align: middle;
	font-size: 26px;
	font-style: italic;
	color: #fff;
	font-weight: 400;
	margin-left: 40px;
	margin-top: 17px;
}