<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
  xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:p="http://primefaces.org/ui">
<ui:composition>
  <div class="wpsp-row ">
    <div class="wpsp-col-sm-3 wpsp-col-xs-6">
      <a class="wpsp-colorBox" href="#"> <span class="wpsp-colorBox-title">Students</span>
        <h4 class="wpsp-colorBox-head">
          9<sup>+</sup>
        </h4>
      </a>
    </div>
    <div class="wpsp-col-sm-3 wpsp-col-xs-6">
      <a class="wpsp-colorBox wpsp-orangebox wpsp-teacherInfo" href="#"> <span class="wpsp-colorBox-title">Teachers</span>
        <h4 class="wpsp-colorBox-head">
          9<sup>+</sup>
        </h4>
      </a>
    </div>
    <div class="wpsp-col-sm-3 wpsp-col-xs-6">
      <a class="wpsp-colorBox wpsp-yellowbox wpsp-parentsInfo" href="#"> <span class="wpsp-colorBox-title">Parents</span>
        <h4 class="wpsp-colorBox-head">
          2<sup>+</sup>
        </h4>
      </a>
    </div>
    <div class="wpsp-col-sm-3 wpsp-col-xs-6">
      <a class="wpsp-colorBox wpsp-greenbox wpsp-classInfo" href="#"> <span class="wpsp-colorBox-title">Classes</span>
        <h4 class="wpsp-colorBox-head">
          7<sup>+</sup>
        </h4>
      </a>
    </div>
  </div>
</ui:composition>
</html>
